.navbar {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  background-color: white;
}

.navbar-brand,
.navbar .nav-link {
  color: white !important;
}

.btn-primary {
  background: #1e3c72;
  border-radius: 8px;
}

.modal-header {
  background: #1e3c72;
  color: white;
}

.modal-footer {
  background: #f8f9fa;
}
