<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand align-self-baseline" href="#">
      <i class="fa-solid fa-bars me-3"></i> Tickr
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="board" href="board">Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="projects" href="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users" href="users">Users</a>
        </li>
        <li>
          <button
            type="button"
            class="btn btn-primary ms-3"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Create Issue
          </button>
        </li>
      </ul>
      <form class="d-flex align-items-center">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn" type="submit">
          <i class="fa-solid fa-bell content-hover"></i>
        </button>
        <button class="btn" type="submit">
          <i class="fa-solid fa-question content-hover"></i>
        </button>
        <button class="btn" type="submit">
          <i class="fa-solid fa-gear content-hover"></i>
        </button>
        <button (click)="logout()" class="btn btn-danger">Logout</button>
      </form>
    </div>
  </div>
</nav>

<!-- Content Section -->
<div class="container-fluid pt-5">
  <router-outlet></router-outlet>
</div>

<!-- Modal for Create Issue -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Issue</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <label>Project <span class="text-danger">*</span></label>
              <select
                [(ngModel)]="ticketObj.projectId"
                class="form-select mb-3"
              >
                <option
                  *ngFor="let project of projectList"
                  [value]="project.projectId"
                >
                  {{ project.projectName }}
                </option>
              </select>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <label>Issue Type <span class="text-danger">*</span></label>
              <select class="form-select">
                <option value="">Select</option>
                <option *ngFor="let type of issueTypes">{{ type }}</option>
              </select>
            </div>
            <div class="col-4">
              <label>Status <i class="fa fa-circle-info"></i></label>
              <select [(ngModel)]="ticketObj.status" class="mb-1 form-select">
                <option *ngFor="let sta of status">{{ sta }}</option>
              </select>
            </div>
            <div class="col-12 mb-3">
              <label>Summary <span class="text-danger">*</span></label>
              <input
                type="text"
                [(ngModel)]="ticketObj.summary"
                class="form-control"
              />
            </div>
            <div class="col-12 mb-3">
              <label>Description</label>
              <textarea
                [(ngModel)]="ticketObj.description"
                cols="30"
                rows="5"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-6 mb-3">
              <label>Assignee</label>
              <select
                [(ngModel)]="ticketObj.assignedTo"
                class="mb-1 form-select"
              >
                <option *ngFor="let user of userList" [value]="user.userId">
                  {{ user.fullName }}
                </option>
              </select>
              <a href="#" class="text-decoration-none fw-semibold"
                >Assign to me</a
              >
            </div>
            <div class="col-6 mb-3">
              <label>Reporter</label>
              <select
                [(ngModel)]="ticketObj.createdBy"
                class="mb-1 form-select"
              >
                <option *ngFor="let user of userList" [value]="user.userId">
                  {{ user.fullName }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="checkbox" /> Create another issue
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onTicketCreate()"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
