<div class="board-container">
  <!-- Filters -->
  <div class="filters">
    <input
      type="text"
      class="search-box"
      placeholder="Search by Title..."
      [(ngModel)]="searchQuery"
      (input)="applyFilters()"
    />

    <select [(ngModel)]="selectedUser" (change)="applyFilters()">
      <option value="">All Users</option>
      <option *ngFor="let user of users" [value]="user.fullName">
        {{ user.fullName }}
      </option>
    </select>
  </div>

  <!-- Kanban Board -->
  <div class="board row">
    <div class="column col-3" *ngFor="let status of statuses">
      @if(hasTicketsForStatus(status)) {
      <h3>{{ status }}</h3>
      <div
        class="ticket-card"
        *ngFor="let ticket of getFilteredTickets(status)"
      >
        <div class="card card-bg">
          <div class="card-body ticket-bg border" id="3">
            <!---->
            <div class="my-1 fw-bold">{{ ticket.summary }}</div>
            <div class="row">
              <div class="col-3">
                <p class="text-muted space-font m-0 pointer"></p>
              </div>
              <div class="col-9 text-end">
                <p class="text-muted space-font m-0">
                  {{ ticket.assignedTo }}
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer ticket-bg border justify-content-between">
            <button
              (click)="editTicket(ticket)"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            >
              Edit
            </button>
            <button class="delete-btn" (click)="deleteTicket(ticket.ticketId)">
              delete
            </button>
          </div>
        </div>
      </div>

      }
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <h2>Edit Ticket</h2>
      <label>Summary:</label>
      <input
        type="text"
        name="summary"
        class="form-control"
        [(ngModel)]="selectedTicket.summary"
      />

      <label>Description:</label>
      <textarea [(ngModel)]="selectedTicket.description"></textarea>

      <label>Story Points:</label>
      <input type="number" [(ngModel)]="selectedTicket.storyPoint" />

      <button (click)="saveChanges()">Save</button>
      <button (click)="closeModal()" data-bs-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
