<div class="row">
  <div class="col-12">
    <button
      class="btn btn-success btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#myModal"
      (click)="resetProjectForm()"
    >
      Create New Project +
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-3" *ngFor="let project of projectList">
    <div class="card" (click)="navigateToDetails(project.projectId)">
      <div class="card-header bg-success text-white">
        {{ project.shortName }}
      </div>
      <div class="card-body">
        <div class="col-6">
          {{ project.projectName }}
        </div>
        <div class="col-6">
          {{ project.createdDate | date : "dd-MM-yy" }}
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <button
              class="btn btn-warning btn-sm"
              (click)="onEdit(project)"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            >
              Edit
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-danger btn-sm"
              (click)="onDelete(project.projectId)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Create/Edit -->
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ isEditing ? "Edit Project" : "New Project" }}
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-5">
            <label for="">Short Name</label>
            <input
              type="text"
              name="shortName"
              class="form-control"
              [(ngModel)]="projectObj.shortName"
            />
          </div>
          <div class="col-5">
            <label for="">Full Name</label>
            <input
              type="text"
              name="projectName"
              class="form-control"
              [(ngModel)]="projectObj.projectName"
            />
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSave()"
          data-bs-dismiss="modal"
        >
          {{ isEditing ? "Update" : "Save" }}
        </button>
      </div>
    </div>
  </div>
</div>
