<div class="projects-container">
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
        (click)="resetProjectForm()"
      >
        + Create New Project
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3" *ngFor="let project of projectList">
      <div
        class="card project-card"
        (click)="navigateToDetails(project.projectId)"
      >
        <div class="card-header text-white">
          {{ project.shortName }}
        </div>
        <div class="card-body">
          <h5 class="project-title">{{ project.projectName }}</h5>
          <p class="project-date">
            <i class="fa-solid fa-calendar"></i>
            {{ project.createdDate | date : "dd-MM-yy" }}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button
            class="btn btn-info btn-sm"
            (click)="onEdit(project, $event)"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
          >
            Edit
          </button>
          <button
            class="btn btn-danger-light btn-sm"
            (click)="onDelete(project.projectId, $event)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Create/Edit -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {{ isEditing ? "Edit Project" : "New Project" }}
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label>Short Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="projectObj.shortName"
              />
            </div>
            <div class="col-6">
              <label>Full Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="projectObj.projectName"
              />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSave()"
            data-bs-dismiss="modal"
          >
            {{ isEditing ? "Update" : "Save" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
